---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "About"

const identity = {
    firstName: "John",
    lastName: "Doe",
    country : "USA",
    bobbies: ["reading", "swimming", "coding"]
}

const isFree = false

const titleColor = "purple"
---

<BaseLayout pageTitle={pageTitle}>

    <h1>{pageTitle}</h1>
    <style define:vars={{ titleColor }}>
        h1 {
            color: var(--titleColor);
        }
    </style>
    <p>aboutページです</p>
    <dl>
        <dt>First Name</dt>
        <dd>{identity.firstName}</dd>
        <dt>Last Name</dt>
        <dd>{identity.lastName}</dd>
        <dt>Country</dt>
        <dd>{identity.country}</dd>
        <dt>Hobbies</dt>
        <dd>{identity.bobbies.map((bobby, index) => (
            <span>{bobby}{index !== identity.bobbies.length - 1 ? ', ' : ''}</span>
        ))}</dd>
    </dl>

    <p>{isFree ? '無料' : '有料'}</p>
</BaseLayout> 